@import 'common/variables.css';
@import 'common/global.css';
@import 'common/auth.css';
@import 'admin/variables.css';
@import 'admin/layout.css';
@import 'admin/auth.css';
@import 'admin/dashboard.css';
@import 'admin/courses.css';
@import 'admin/students.css';
@import 'admin/components.css';
@import 'admin/responsive.css';