@import 'common/variables.css';
@import 'common/global.css';
@import 'common/auth.css';
@import 'student/variables.css';
@import 'student/layout.css';
@import 'student/landing.css';
@import 'student/auth.css';
@import 'student/dashboard.css';
@import 'student/player.css';
@import 'student/exam.css';
@import 'student/animations.css';
@import 'student/responsive.css';